<a href="https://colab.research.google.com/github/Dr-Carlos-Villasenor/TRSeminar/blob/main/TRS01_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning Seminar
## Dr. Carlos Vilase침or
## Pandas library

*Pandas* library is an extension of *NumPy* and *Matplotlib*. *Pandas* is used for data hangling and analisys in *Python*.

In [2]:
import pandas as pd
import numpy as np

## Main objects

There are two principal objects in *pandas*, the **Series** object and the  **DataFrame** object

### Series Object

The Series object is like a *NumPy* ndarray but one-dimensional with labels, for example:

In [ ]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])
print(s)
print('acceso a elemento: ', s['a'])

### DataFrame object

The DataFrame Object is the main object in the library. It represents a heterogenous bidimensional array with a header (very similar to the DataFrames in the *R* programming language). In the following you have and example:

In [ ]:
data = { 'Nombre':['Carlos', 'Julia','Fabiola', 'Ernesto'],
           'edad':[28,25,56,21],
        'calificaci칩n':[100,89,48,75]}

# df is a common name for DateFrames
df = pd.DataFrame(data)
print(df)

We can access each data on the DataFrame as a matrix or using associative indices.

In [ ]:
print(df.iat[0,0])
print(df.iat[1,2])
print(df.at[2,'Nombre'])

DataFrames and Series a mutables data structures

In [ ]:
s['b'] = 5
print('s = \n', s)
df.at[0,'Nombre'] = 'Charlie'
print('df = \n', df)

We can also delete rows from the Series and DataFrames.

In [ ]:
s.drop(['a'])
print(s)
df.drop('calificaci칩n', axis=1)
print(df)
df = df[df.Nombre != 'Charlie']
print(df)

## Data exploration

It is very boring working with such a small DataFrame. Let's upload a DataSet form a CSV file.

In [ ]:
!wget 'https://raw.githubusercontent.com/Dr-Carlos-Villasenor/TRSeminar/main/Datasets/countries.csv'
df = pd.read_csv('countries.csv')

For a new dataset, it is always a good idea to explore the data before training any ML model.

In [ ]:
# We print the first 5 records
df.head()

In [ ]:
# We print the last 5 records
df.tail()

In [ ]:
# Shape of the DataFrame
print(df.shape)

In [ ]:
# Basic information of the DataFrame
df.info()

In [ ]:
# Columns names
df.columns

In [ ]:
# Some stats of the numerical features
df.describe()

In [ ]:
# extract a numpy matrix from the DataFrame
df.values

In [ ]:
# mean and max of all numerical or comparative features
print(df.max())
print(df.min())

In [ ]:
# rename a column
df = df.rename(columns={'gdpPercap':'gdp'})

# a different way to do it
#df.rename(columns={'gdpPercap':'gdp'}, inplace=True)
df.head()

## Selection, replace, filter, sorting

In [ ]:
# return a column like a series
s1 = df['country']
s2 = df.country
print(s1)
print(s2)

In [ ]:
# Return a colum like a DataFrame
df2 = df[['country']]
df2

In [ ]:
# replace all the elements in a DF
df2 = df.replace(1952,'one')
df2.head()

In [ ]:
# filtering by column
df[df.country == 'Mexico']

In [ ]:
# Filtering multiple columns
df[(df.country == 'Mexico')&(df.year >= 1977)&(df.lifeExp < 70)]

Other way to filter data is the following (this can have some issues but is very popular)

In [ ]:
#Filtrado con reindexado autom치tico
df_mex = df[df.country == 'Mexico'][df.year >= 1977][df.lifeExp < 70]
df_mex

In [ ]:
# Reindexing data
df_mex = df_mex.reset_index()
df_mex = df_mex.drop('index', axis=1)
print(df_mex)

In [ ]:
# Ordenar datos por una columna
df_mex.sort_values('gdp')

## Drawing in Pandas

In [ ]:
# Histogram of all the numerical features
df.hist()

In [ ]:
# Draw only Mexico Data
df[df.country == 'Mexico'].plot(x='year',y='gdp')

In data exploration is highly recommended to draw the scatter graphics, Pandas have a function for this.

In [ ]:
# plot scatter matrix
pd.plotting.scatter_matrix(df)

In [ ]:
# Draw only mexico scatter matrix
pd.plotting.scatter_matrix(df[df.country == 'Mexico'])

## Write a code to answer the following quaestions

In [ ]:
print('How many and which countries have a life expectancy greater than or equal to 80 in 2002?')
paises =
print('Number of countries: ', len(paises))
print('Countries: ', paises)

In [ ]:
print('Country with the highest Gross Domestic Product, in any year?')
country =
print('The country with the highest GDP: ', country)

In [ ]:
print('In what year did Mexico exceed 70 million inhabitants?')
year =
print('In the year of: ',year)